/* Large */
.main-menu {
  display: flex;
  flex-flow: row wrap;
  /* This aligns items to the end line on main-axis */
  justify-content: flex-end;
}


@media all and (max-width: 750px) {
  
    .main-menu {
    /* On small screens, we are no longer using row direction but column */
    margin: 0 0;
    display: flex;
    justify-content: space-around;
    padding: 0;
    width: 100%;
    
  }
    .main-menu li{
      width:100%;
      padding: 0;
    
  }
}
/* Small screens */
@media all and (max-width: 500px) {
  .main-menu {
    /* On small screens, we are no longer using row direction but column */
    margin: 0 0;
    display: flex;
    justify-content: space-around;
    padding: 0;
    width: 100%;
  
  }
  
  .main-menu li{
      width:100%;
      padding: 0;
    
  }
  .main-menu li a{
    padding: 0;
  } 
  .category-conteiner{
    display: flex;
    justify-content:center;
  }
  main{
    justify-content:center;
  }
  .map{
    width: 97%;
  }
  .contact-us{
    width: 99%;
  }
}