@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Sedgwick+Ave');
html,body {
	width: 100%;
	max-width: 960px;
	margin: auto;
	padding: 0;
}

body {
	background:
     #EAECF0 
}
header{
	display: flex;
	flex-direction:column;
	height:auto;
}

nav ul{
	float: right;
	margin: auto 0;
	max-width: 700px;
	display: flex;
	flex-direction: row;
	justify-content:flex-end;
}


nav ul li { 
	display: flex;
	justify-content:space-around;
	list-style: none;
	background-color: #fad2e0;
}
nav ul li:hover{
	background-color: white;
}
nav li a {
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
	padding: 0 30px;
	color: #143567;
	text-shadow: 0 1px 0 white;
}

nav li a:hover {
	color: #a45f93;
	background-color: white;
}
nav ul li:active {
	background-color: white;
}

.banner {
	display: flex;
	width: auto;
	height: auto;
	
}
.banner img{
	height: auto;
	width: 100%;

}
main {
text-align: center;
margin: -18px auto auto auto;
}

main .category-conteiner{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.category-conteiner h3{
	visibility: hidden;
	background-color: #fad2e0;
	margin-top: 268px;
	position: static;
	
}

h2{
	padding-top: 3%;
	color:#e93578;
	text-shadow: 1px 1px 0px #c4dbe2, 2px 2px 0px #b4d1d9, 3px 3px 0px #a6c6cf, 4px 4px 0px #94b8c3;
}
.category-pastry {
	background-image: url(../img/pastries.jpg);
	background-size: 290px;
	height: 290px;
	width: 290px;
	margin: 0 5px;
}
.category-pastry:hover{
	transform: rotateY(180deg);
	transition: 0.6s;
 	transform-style: preserve-3d;
 	position: relative;
}
.category-pastry:hover h3{
	visibility: visible;
	transform: rotateY(180deg);
}
.category-cake {
	background-image: url(../img/cake.jpg);
	background-size: 290px;
	height: 290px;
	width: 290px;
	margin: 0 5px;
}
.category-cake:hover, .category-cake:hover{
	transform: rotateY(180deg);
	transition: 0.6s;
 	transform-style: preserve-3d;
 	position: relative;
	
}
.category-cake:hover h3{
	visibility: visible;
	transform: rotateY(180deg);
}
.category-other-sweets {
	background-image: url(../img/other-sweets.jpg);
	background-size: 290px;
	height: 290px;
	width: 290px;
	margin: 0 5px;
}
.category-other-sweets:hover{
	transform: rotateY(180deg);
	transition: 0.6s;
 	transform-style: preserve-3d;
 	position: relative;
}
.category-other-sweets:hover h3{
	visibility: visible;
	transform: rotateY(180deg);	
}
.category-side{
	max-width: 80%;
}
.why-coose-us-title {
	font-size: 26px;
	color: #e93578;
	padding-top: 30px
}
.why-coose-us-text {
	font-family: 'Permanent Marker', cursive;
	font-size: 20px;
	
}
.video{
	display: flex;
	flex-direction:column;
	height: 400px;
	width:99%;
}
.find-us{
	padding-top: 30px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}
h3{

	color:#e93578;
}

h4{
	color: #e93578;
}
.contact-us {
	text-align: left; 
	padding-bottom: 50px;
}
.map{
	height: 385px;
	width: 450px;
}
.social-networks-logo{
	height: 60px;
	Width: 60px;
	border-radius: 40px;
	float: right;
	opacity: 1;
}
.social-networks-logo:hover {
  opacity: 0.6;
}
.text-area{
	width: 350px;
	height: 80px
}

main p{
	font-family: 'Sedgwick Ave', cursive;
	font-size: 28px;
}
footer{
	margin: 0;
	text-align: center;
	background-color: #fad2e0;
	font-family: Garamond, serif;
	line-height: 1em;
	color: #fff9d6;
	font-weight:bold;
	font-size: 48px;
	text-shadow:0px 0px 0 rgb(231,231,231),1px 1px 0 rgb(216,216,216),2px 2px 0 rgb(202,202,202),3px 3px 0 rgb(187,187,187),4px 4px 0 rgb(173,173,173),5px 5px 0 rgb(158,158,158), 6px 6px 0 rgb(144,144,144),7px 7px 6px rgba(0,0,0,0.6),7px 7px 1px rgba(0,0,0,0.5),0px 0px 6px rgba(0,0,0,.2);	
}
footer p {
	margin-top: 0;
	margin-bottom: 0;
}
h1{
	color: #e93578
}