/* Large */
.main-menu {
  display: flex;
  flex-flow: row wrap;
  /* This aligns items to the end line on main-axis */
  justify-content: flex-end;
}


@media all and (max-width: 750px) {
  
    .main-menu {
    /* On small screens, we are no longer using row direction but column */
    display: none;
    
  }
  .topnav{
    display: block;
    }
    .main-menu li{
      flex-direction:row;
      flex-wrap:wrap;
      min-width:50%;
      max-width: 100%;
      padding-left: 0;
      
    
  }
}
/* Small screens */
@media all and (max-width: 500px) {
  
  .map{
    width: 97%;
  }
  .contact-us{
    width: 99%;
  }
}