
html,body {
	width: 100%;
	max-width: 960px;
	margin: auto;
	padding: 0;
}

body {
	background:
     #EAECF0 
}
header{
	display: flex;
	flex-direction:column;
	height:auto;
}

nav ul{
	float: right;
	margin: auto 0;
	max-width: 700px;
	display: flex;
	flex-direction: row;
	justify-content:flex-end;
}


nav ul li { 
	display: flex;
	justify-content:space-around;
	list-style: none;
	background-color: #fad2e0;
}
nav ul li:hover{
	background-color: white;
}
nav li a {
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
	padding: 0 30px;
	color: #143567;
	text-shadow: 0 1px 0 white;
}

nav li a:hover {
	color: #a45f93;
	background-color: white;
}
nav li:active {
	background-color: #fff;
}

.banner {
	display: flex;
	width: auto;
	height: auto;
	
}
.banner img{
	height: auto;
	width: 100%;

}
main {
text-align: center;
margin: -18px auto auto auto;
}

main .category-conteiner{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.category-conteiner h3{
	visibility: hidden;
	background-color: #fad2e0;
	margin-top: 268px;
	position: static;
	
}

h2{
	padding-top: 3%;
	color:#e93578;
}
.category-pastry {
	background-image: url(../img/pastries.jpg);
	background-size: 290px;
	height: 290px;
	width: 290px;
	margin: 0 5px;
}
.category-pastry:hover{
	transform: rotateY(180deg);
	transition: 0.6s;
 	transform-style: preserve-3d;
 	position: relative;
}
.category-pastry:hover h3{
	visibility: visible;
	transform: rotateY(180deg);
}
.category-cake {
	background-image: url(../img/cake.jpg);
	background-size: 290px;
	height: 290px;
	width: 290px;
	margin: 0 5px;
}
.category-cake:hover, .category-cake:hover{
	transform: rotateY(180deg);
	transition: 0.6s;
 	transform-style: preserve-3d;
 	position: relative;
	
}
.category-cake:hover h3{
	visibility: visible;
	transform: rotateY(180deg);
}
.category-other-sweets {
	background-image: url(../img/other-sweets.jpg);
	background-size: 290px;
	height: 290px;
	width: 290px;
	margin: 0 5px;
}
.category-other-sweets:hover{
	transform: rotateY(180deg);
	transition: 0.6s;
 	transform-style: preserve-3d;
 	position: relative;
}
.category-other-sweets:hover h3{
	visibility: visible;
	transform: rotateY(180deg);	
}
.category-side{
	max-width: 80%;
}
.why-coose-us-title {
	font-size: 26px;
	color: #e93578;
	padding-top: 30px
}
.why-coose-us-text {
	font-size: 20px;
	
}
.video{
	display: flex;
	flex-direction:column;
	height: 400px;
	width:99%;
}
.find-us{
	padding-top: 30px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}
h3{

	color:#e93578;
}

h4{
	color: #e93578;
}
.contact-us {
	text-align: left; 
	padding-bottom: 50px;
}
.map{
	height: 385px;
	width: 450px;
}
.social-networks-logo{
	height: 60px;
	width: 60px;

	float: right;
	padding-top: 10px;
	padding-right: 20px;
	opacity: 1;
}
.social-networks-logo:hover {
  opacity: 0.6;
}
.text-area{
	width: 350px;
	height: 80px
}
	


